.team {
    text-align: center;
    margin: 0 auto;
    background-color: #F5F4FA;
}

.team__list {
    display: flex;
    padding-left: 0;
    justify-content: center;
    align-items: center;

    & .team__item {
            margin-right: 30px;
        }
    & .team__item:last-child {
            margin-right: 0;
        }
}

.team__item {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__title {
    margin-bottom: 50px;
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
}

.team__name {
    padding-top: 30px;
    margin-bottom: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--primary-text-color)
}

.team__job-title {
    padding-bottom: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    color: var(--accent-text-color)
}

.team__soc-list {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.team__soc-item {
    margin-right: 10px;

    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:last-child {
            margin-right: 0;
        }
}

.team__soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
            background-color: #2196F3;
        }
    &:hover .team__soc-icon {
            fill: #ffffff;
        }
}

.team__soc-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}