.work {
    display: block;
    margin: 0 auto;
}

.work__title {
    margin-bottom: 50px;
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--primary-text-color)
}

.work__list {
    display: flex;
    padding-left: 0;
    margin: 0;
    justify-content: center;
    align-items: center;

    & .work__item {
            margin-right: 30px;
        }
    & .work__item:last-child {
            margin-right: 0;
        }
}

.work__list-box {
    position: relative;
}

.work__list-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 370px;
    height: 70px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
}